@{
    ViewData["Title"] = "Booking Details";
}

<style>
    .booking-section {
        background-color: #f8f9fa;
    }
</style>

<h1 class="text-center">Booking Details</h1>
<p class="text-center">Your booking details for the Suzuki Hatch on Main St</p>

<div class="booking-section mb-3">
    <div class="text-center p-2 fw-bold mb-3 fs-4 text-white" style="background-color: #2FCD48;">Status:
        In Progress
    </div>

    <div class="d-flex align-items-center mb-3">
        <i class="bi bi-geo-alt-fill fs-2 me-3"></i>
        <div>
            <p class="mb-0">Pickup DriveHub Orion Pod</p>
            <small>Main St Near the Station</small>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Car:</label>
        <div class="form-control">Suzi the Suzuki Hatch</div>
    </div>

    <div class="row g-3">
        <div>
            <label for="bookingStart" class="form-label mb-0">Booking Start</label>
        </div>
        <div class="col-md-6">
            <div class="form-control">19 / 09 / 2024-09-19</div>
        </div>
        <div class="col-md-6">
            <div class="form-control">01:30 pm</div>
        </div>
        <div>
            <label for="bookingEnd" class="form-label">Booking End</label>
        </div>
        <div class="col-md-6">
            <div class="form-control">19 / 09 / 2024-09-19</div>
        </div>
        <div class="col-md-6">
            <div class="form-control">05:30 pm</div>
        </div>
    </div>

    <div class="d-flex align-items-center my-3">
        <i class="bi bi-geo-alt-fill fs-2 me-3"></i>
        <div>
            <p class="mb-0">Return DriveHub Odysseus Pod</p>
            <small>Second St, North Fitzroy</small>
        </div>
    </div>

    <div class="cost-section text-center bg-white p-3" style="border: 1px solid #dee2e6;">
        <p class="mb-0">Per Hour:</p>
        <p class="fw-bold fs-1">$30/hr</p>
        <hr />
        <p class="mb-0">Total Cost:</p>
        <p class="fw-bold fs-1 mb-0">$120</p>
    </div>

    <a href="/Bookings/Edit" class="small text-end d-block mt-1 pb-1">Edit this booking</a>
</div>

<div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa;" class="col-12">
</div>

<script>
    function initAutocomplete() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -37.8167399, lng: 144.9612497 },
            zoom: 19,
            mapTypeId: "roadmap",
        });

        new google.maps.Marker({
            map,
            title: "Car",
            position: { lat: -37.8167399, lng: 144.9612497 },
        })

        bounds.union(place.geometry.viewport);
    }

    window.initAutocomplete = initAutocomplete;
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initAutocomplete&libraries=places&v=weekly&loading=async"
    defer></script>