@model DriveHubModel.Booking

@{
    ViewData["Title"] = "Change Booking Time";
}

<h1 class="text-center">Change Booking Time</h1>
<p class="text-center">Edit your upcoming car booking's start and end times.</p>

<div class="">
    <form method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="StartTime" class="form-label">Booking Start</label>
                <input type="datetime-local" class="form-control" id="StartTime" name="StartTime"
                    value="@Model.StartTime.ToString("s")" step="any" />
            </div>
            <div class="col-md-6">
                <label for="EndTime" class="form-label">Booking End</label>
                <input type="datetime-local" class="form-control" id="EndTime" name="EndTime"
                    value="@Model.EndTime.ToString("s")" step="any" />
            </div>
        </div>
        <div class="text-center mt-5 mb-3">
            <input type="submit" value="Update Booking Time" class="btn btn-danger fw-bold text-white fs-4" />
        </div>
    </form>
    <div class="text-end">
        <a href="/Bookings/Details/@Model.BookingId">Back to Booking</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
