﻿@{
    ViewData["Title"] = "Error";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center p-3">
            <!-- Responsive Image with margin and padding to adjust size on small screens -->
            <img src="https://drivehubstorage.blob.core.windows.net/website/error.jpg" 
                 alt="Error Image" 
                 style="max-width: 100%; height: auto; margin: 0 auto; display: block;" />
        </div>
    </div>
</div>




