@using DriveHubModel;
@model IList<Booking>
@{
    ViewData["Title"] = "Past Bookings";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">Here are your completed bookings.</p>

<h3 class="text-warning">COMING SOON IN USER STORY 4</h3>
