@using System.Text.Json
@{
    ViewData["Title"] = "Let's find a car";

    // Mock Object of all sites, their pods, and what cars are currently rentable
    if (ViewData["SearchData"] == null) {
        ViewData["SearchData"] = new {
            Sites = new[] {
                new { SiteName = "RMIT Snooze Lounge", Address = "445 SWANSTON ST", City = "MELBOURNE", Location = new {longitude = 144.96297733436015, latitude = -37.808207787152966}, Cars = new[] {
                    new { VehicleId = "236d7fac-7e6f-4856-9203-de65bc9e7545", Make = "Tesla", Model = "Model Y", Name = "The Silver Bullet", Seats = 5 },
                    new { VehicleId = "0fbbd18e-bd5b-4f99-a00b-29533d26c3ad", Make = "Toyota", Model = "RAV4", Name = "Thunderbolt", Seats = 5 },
                    new { VehicleId = "0e1769a3-c277-462f-a448-830b76328285", Make = "Toyota", Model = "Hilux", Name = "Vroominator", Seats = 2 }
                }},
                new { SiteName = "United Petroleum West Gate North", Address = "2 WEST GATE FREEWAY", City = "PORT MELBOURNE", Location = new {longitude = 144.95097561347418, latitude = -37.81833347027388}, Cars = new[] {
                    new { VehicleId = "36d4bc1e-6159-46df-ad98-da93a38bcc82", Make = "Toyota", Model = "Hilux", Name = "Shadow Cruiser", Seats = 2 },
                    new { VehicleId = "417b7216-6148-4a40-9458-99db17987790", Make = "Hyundai", Model = "i30", Name = "Stealth Rocket", Seats = 5 }
                }}
            }
        };
    }
}

<style>
    .car-item {
        padding: 10px;
        background-color: #f8f9fa;
        margin-bottom: 10px;
    }
</style>
<h1 class="mb-6">Booking Search</h1>

<p>Select a location and time to show available cars.</p>

<div class="row mb-3">
    <div class="col-md-3">
        <form>
            <div class="mb-3">
                <label for="pac-input" class="form-label">Location</label>
                <input id="pac-input" class="controls w-100 form-control" type="text" placeholder="Location" />
            </div>

            <div class="mb-3">
                <label for="seatCountSelect" class="form-label">Number of Seats</label>
                <select class="form-select" id="seatCountSelect">
                    <option selected>Any</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                </select>
            </div>
        </form>
    </div>
    <div class=" col-md-9">
        <div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa;"></div>
    </div>
</div>

<div class="car-list">
    <div class="car-item d-flex align-items-center">
        <div class="car-icon me-3">🚗</div>
        <div>
            <p class="mb-0"><strong>1 Mins away at 11 Main Rd, Melbourne CBD</strong></p>
            <p class="mb-0">Terry the Tesla Model 3</p>
        </div>
        <a class="btn btn-primary ms-auto" href="/Bookings/Create">></a>
    </div>
    <div class="car-item d-flex align-items-center">
        <div class="car-icon me-3">🚗</div>
        <div>
            <p class="mb-0"><strong>5 Mins away at 1 Side Rd, Melbourne CBD</strong></p>
            <p class="mb-0">Suzi the Suzuki Hatch</p>
        </div>
        <a class="btn btn-primary ms-auto" href="/Bookings/Create">></a>
    </div>
    <div class="car-item d-flex align-items-center">
        <div class="car-icon me-3">🚗</div>
        <div>
            <p class="mb-0"><strong>15 Mins away at 101 James St, Mulberry</strong></p>
            <p class="mb-0">Tony the Toyota Celica</p>
        </div>
        <a class="btn btn-primary ms-auto" href="/Bookings/Create">></a>
    </div>
    <div class="car-item d-flex align-items-center">
        <div class="car-icon me-3">🚗</div>
        <div>
            <p class="mb-0"><strong>16 Mins away at 17 Frank St, Guilford</strong></p>
            <p class="mb-0">Harrold the Holden</p>
        </div>
        <a class="btn btn-primary ms-auto" href="/Bookings/Create">></a>
    </div>
</div>

<script>
    var searchData = @Html.Raw(JsonSerializer.Serialize(ViewData["SearchData"]));
    const cars = [
        { name: "Tim the Tesla", lat: -37.8167399, long: 144.9612497 },
        { name: "Tony the Tesla", lat: -37.8073874, long: 144.974175 },
        { name: "Marco the Mazda", lat: -37.8195234, long: 144.9668658 },
        { name: "Terry the Toyota", lat: -37.8066475, long: 144.9647881 },
        { name: "Bob the BYD", lat: -37.7981268, long: 144.9513347 }
    ];

    function initAutocomplete() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -37.8083331, lng: 144.9639386 },
            zoom: 13,
            mapTypeId: "roadmap",
            mapId: "DRIVEHUB_MAP"
        });
        // Create the search box and link it to the UI element.
        const input = document.getElementById("pac-input");
        const searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener("bounds_changed", () => {
            searchBox.setBounds(map.getBounds());
        });

        // Add all pods and cars as markers
        for (let site of searchData.Sites) {
            const marker = new google.maps.marker.AdvancedMarkerElement({
                map,
                title: site.SiteName,
                position: { lat: site.Location.latitude, lng: site.Location.longitude }
            });

            console.log(site)
            @* let marker = new google.maps.Marker({
                map,
                title: site.SiteName,
                position: { lat: site.Location.latitude, lng: site.Location.longitude },
            })

            const infowindow = new google.maps.InfoWindow({
                content: `<strong>${site.name}</strong><br><a href="/Booking/Create">Book</a>`,
            });

            marker.addListener("click", () => {
                infowindow.open(map, marker);
            }); *@
        }

        // Respond to user searches and move the map there
        searchBox.addListener("places_changed", () => {
            const places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            const bounds = new google.maps.LatLngBounds();
            console.log(places);

            places.forEach((place) => {
                if (!place.geometry || !place.geometry.location) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

    window.initAutocomplete = initAutocomplete;
</script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initAutocomplete&v=weekly&libraries=marker,places&loading=async"
defer
></script>
@* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initAutocomplete&libraries=places&v=weekly&loading=async&libraries=marker&libraries=places"
        defer></script> *@
