@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/website/DriveHubLogoNoBackground.png" />
        <h1 class="display-4">DriveHub Admin Portal</h1>
</div>
