@{
    ViewData["Title"] = "About Us";
}

<style>
    .smallhero-container {
        max-width: 50%;
        overflow: hidden;
    }

    .container-text-centre {
        padding: 40px;
    }

    .subhero-section {
        padding: 40px;
    }

    .lead {
        padding: 20px;
    }

</style>

<div class="img-fluid">
    <img src="https://drivehubstorage.blob.core.windows.net/website/About-hero-edit-500.jpg" alt="Responsive Image" class="img-fluid">
</div>
<div class="container-text-center">
    <p class="lead">
        DriveHub was proudly created by the students of RMIT's Programming Project SP3 2024 with an the idea of removing the hassles of owning a car and giving customers the convenience of hiring one with an on-demand server.
        DriveHub plans to revolutionise the car indutry by giving the opportunity to it's customers to hire a car at their lesiure and drop it off at one of their hubs around Melbourne.
        Providing a safe way to hire a car and not have any of the worries about owning the car.'
    </p>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="https://drivehubstorage.blob.core.windows.net/website/about-mechanic.jpg" alt="responsive image" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="lead">
                Born from the problem of expensive and time-consuming ownership, DriveHub has transformed urban mobility into a user-centric and hassle-free experience.
                Offering 24/7 access to a fleet of professionall owned and maintained cars.
                Using a QR code booking systema nd a pay-by-the-hour flexability along with a return to hub system that ensures your next ride is always where you need it to be.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="lead">
            Over 100 different cars to choose from located at 4 hubs around Melbourne, DriveHub will prove to be a leading Australian carshare provider,
            offering its customers accessible and affordable freedom without the hassle of car ownership.

            Become a DriveHub member today and join us in the movement to sustainable mobility and urban convenience.
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
        <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-happy1.jpg" alt="responsive image" class="img-fluid">
    </div>
</div>
<p class="lead">
    Founding Members of DriveHub are:
    Ian, Sean, Jack, Jarryd and Shampee
</p>


