@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<!--BODY STARTS HERE--> 
    <div class="container">
        <h1>About us</h1>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <p class="lead">
                        Ease of Use
                    </p>
                </div>
                <div class="col">
                    <p class="lead">
                        Seamless transactions
                    </p>
                </div>
                <div class="col">
                    <p class="lead">
                        World Class Support
                    </p>
                </div>
            </div>
            <p>
            <p class="lead">Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed
                nemo vero a molestias neque est enim voluptatem. Id sequi vitae ut velit laboriosam ut omnis error eos
                consequatur consequatur ea obcaecati laudantium! Aut neque quis ut nesciunt officiis aut amet Quis non
                cupiditate blanditiis. </p>
            <p class="lead">Est quidem autem quo dolores officiis vel iusto cupiditate qui enim pariatur et enim consequatur qui
                laboriosam galisum! Et odio asperiores ut consequuntur quisquam est voluptas suscipit cum laboriosam
                amet et consequatur commodi ex nesciunt modi nam odio iure. Et molestiae labore et labore impedit sed
                quidem voluptatum est repellat internos est assumenda voluptatem sed vero aliquid et earum Quis. </p>
            <p class="lead">Et nostrum enim ut architecto Quis ea quisquam nostrum est repellat perferendis est enim odit qui quas
                amet et quasi nulla. Id dolore molestias et veritatis officia vel magnam officia ea animi consequatur et
                quam nemo eos voluptas sequi non sapiente quis. Sed voluptatem molestias est molestias incidunt et sunt
                quaerat nam dicta aperiam sit quia expedita et suscipit rerum. </p>
            </p>
        </div>
        <div class="container">
            <div id="carouselExampleWhite" class="carousel carousel-white slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-keys.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-happy1.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-customerservice.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        </div>
        <div class="container">
            <h1>Sample Text</h1>
            <p class="lead">Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed
                nemo vero a molestias neque est enim voluptatem. Id sequi vitae ut velit laboriosam ut omnis error eos
                consequatur consequatur ea obcaecati laudantium! Aut neque quis ut nesciunt officiis aut amet Quis non
                cupiditate blanditiis. </p>
            <p class="lead">Est quidem autem quo dolores officiis vel iusto cupiditate qui enim pariatur et enim consequatur qui
                laboriosam galisum! Et odio asperiores ut consequuntur quisquam est voluptas suscipit cum laboriosam
                amet et consequatur commodi ex nesciunt modi nam odio iure. Et molestiae labore et labore impedit sed
                quidem voluptatum est repellat internos est assumenda voluptatem sed vero aliquid et earum Quis. </p>
            <p class="lead">Et nostrum enim ut architecto Quis ea quisquam nostrum est repellat perferendis est enim odit qui quas
                amet et quasi nulla. Id dolore molestias et veritatis officia vel magnam officia ea animi consequatur et
                quam nemo eos voluptas sequi non sapiente quis. Sed voluptatem molestias est molestias incidunt et sunt
                quaerat nam dicta aperiam sit quia expedita et suscipit rerum. </p>
            </p>
        </div>

        <!--BODY CONTENT ENDS HERE-->
        </main>
    </div>
