@{
    ViewData["Title"] = "About Us";
}

<style>
    .container-text-center {
        padding: 40px;
    }

    .lead {
        padding: 20px;
    }
</style>

<!-- Main container with max-width 1400px -->
<div class="container">
    <div class="row">
        <!-- Adjust columns to take full width -->
        <div class="col-12">
            <div class="img-fluid">
                <img src="https://drivehubstorage.blob.core.windows.net/website/About-hero-edit-500.jpg" alt="Responsive Image" class="img-fluid">
            </div>
            <div class="container-text-center">
                <p class="lead">
                    DriveHub was proudly created by the students of RMIT's Programming Project SP3 2024 with the idea of removing the hassles of owning a car and giving customers the convenience of hiring one with an on-demand service.
                    DriveHub plans to revolutionize the car industry by giving its customers the opportunity to hire a car at their leisure and drop it off at one of their hubs around Melbourne.
                    Providing a safe way to hire a car and not have any of the worries about owning the car.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://drivehubstorage.blob.core.windows.net/website/about-mechanic.jpg" alt="Responsive Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p class="lead">
                        Born from the problem of expensive and time-consuming ownership, DriveHub has transformed urban mobility into a user-centric and hassle-free experience.
                        Offering 24/7 access to a fleet of professionally owned and maintained cars. Using a QR code booking system and a pay-by-the-hour flexibility along with a return-to-hub system that ensures your next ride is always where you need it to be.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">
                        Over 100 different cars to choose from located at 4 hubs around Melbourne, DriveHub will prove to be a leading Australian carshare provider, offering its customers accessible and affordable freedom without the hassle of car ownership.
                        Become a DriveHub member today and join us in the movement to sustainable mobility and urban convenience.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-happy1.jpg" alt="Responsive Image" class="img-fluid">
                </div>
            </div>
            <p class="lead">
                Founding Members of DriveHub are: Ian, Sean, Jack, Jarryd, and Shampee.
            </p>
        </div>
    </div>
</div>
