@{
    ViewData["Title"] = "About Us";
}


<!--BODY STARTS HERE-->
<style>
    /* CSS to make the image responsive */
    .responsive-image {
        width: 100%; /* Make the image span the entire width of the page */
        height: auto; /* Keep the aspect ratio */
    }

    /* Optional: Add some styling for the container */
    .hero-container {
        position: relative;
        max-width: 100%; /* Ensures the image doesn't stretch beyond the viewport */
        overflow: hidden; /* Hides any overflow if the image is too large */
        padding: 40px;
    }


    .smallhero-container {
        max-width: 50%;
        overflow: hidden;
    }

    .container-text-centre {
        padding: 40px;
    }

    .subhero-section {
        padding: 40px;
    }

    .lead {
        padding: 20px;
    }

</style>
<div class="hero-container">
    <img src="https://drivehubstorage.blob.core.windows.net/website/about-hero-edit.jpg" alt="Responsive Image" class="responsive-image">
</div>





<div class="contents-container">
    <div class="container-text-center">
        <p class="lead">
            DriveHub was proudly created by the students of RMIT's Programming Project SP3 2024 with an the idea of removing the hassles of owning a car and giving customers the convenience of hiring one with an on-demand server.
            DriveHub plans to revolutionise the car indutry by giving the opportunity to it's customers to hire a car at their lesiure and drop it off at one of their hubs around Melbourne.
            Providing a safe way to hire a car and not have any of the worries about owning the car.'
        </p>
        <div class="sub-container-section">
            <div class="subhero-section">
                <div class="row">
                    <div class="col">
                        <img src="https://drivehubstorage.blob.core.windows.net/website/about-mechanic.jpg" alt="responsive image" class="responsive-image">
                    </div>
                    <div class="col">
                        <p class="lead">
                            Born from the problem of expensive and time-consuming ownership, DriveHub has transformed urban mobility into a user-centric and hassle-free experience.
                            Offering 24/7 access to a fleet of professionall owned and maintained cars.
                            Using a QR code booking systema nd a pay-by-the-hour flexability along with a return to hub system that ensures your next ride is always where you need it to be.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="container-text-center">
        <div class="sub-container-section">
            <div class="subhero-section">
                <div class="row">
                    <div class="col">
                        <p class="lead">
                            Over 100 different cars to choose from located at 4 hubs around Melbourne, DriveHub will prove to be a leading Australian carshare provider,
                            offering its customers accessible and affordable freedom without the hassle of car ownership.

                            Become a DriveHub member today and join us in the movement to sustainable mobility and urban convenience.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://drivehubstorage.blob.core.windows.net/website/showcase-about-happy1.jpg" alt="responsive image" class="responsive-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-text-center">
            <div class="sub-container-section">
                <div class="subhero-section">
                    <p class="lead">
                        Founding Members of DriveHub are:
                        Ian, Sean, Jack, Jarryd and Shampee
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>