@{
    ViewData["Error"] = "Error";
}


<div class="container-fluid">
    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/website/error.jpg style="max-width:400px;" />
</div>