@{
    ViewData["Title"] = "404";
}

<div class="container-fluid text-center">
    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/website/404.jpg" style="max-width:100%;" />
</div>
