@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Privacy statement</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-datacentre.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Personal information</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-information.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>How we collect your personal information</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-regulations.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Ease your mind</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-happy.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
    </div>
</div>
