@{
    ViewData["Title"] = "Privacy Policy";
}
<!--BODY STARTS HERE-->
<style>
    /* CSS to make the image responsive */
    .privacy-hero {
        width: 100%; /* Make the image span the entire width of the page */
        height: auto; /* Keep the aspect ratio */
        padding: 40px;
    }
    .lead{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .h4, h4 {
        font-weight: 500;
        color: orange;
    }
    .li, li {
        padding: 10px;
        font-size: 20px;
    }
</style>



<div class="privacy-hero">
    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/website/privacy-hero-edit.png" alt="privacy-hero" style="max-width:contain" />
</div>

<div class="text-box-container">
    <div class=text-box-content">
        <p class="lead">
            DriveHub Australia is committed to protecting your personal information and complying with privacy laws applicable to its buisness, including the Australian Privacy Principles. 
            This privacy policy sets out our policy with respect to the way we manage (collect, use, and disclose) personal information about you.
        </p>
        <h4> Collection of Personal Information </h4>
            <p class="lead">
            “Personal Information” is information about an identified individual or information from which your identity is apparent or can be reasonably ascertained.
            During the conduct of our business, the types of information generally collected by us include your name, date of birth, residential and/or postal address, telephone number, email address, payment details, details of your current driver's license, details of your driving history, your employer’s name and position and contact details for who to contact in the event of an emergency. 
            We may also request additional documentation to assist in verifying your identity or eligibility for a particular membership plan or promotion.
            </p>
        <h4> Use of Personal Information </h4>
            <p class="lead">
            We may use and disclose your Personal Information in the following ways:
            </p>
                <li> to deliver services you have requested and do all things required to manage those services; </li>
                <li> to contact you about any incidents involving your vehicle, our contract or dealings with you, and other matters, including investigating any accidents, claims, breaches to our terms, unlawful activities, or fraud;</li>
                <li> verify the information you provide us, including confirming your identity;</li>
                <li> as required for the purposes of debt recoveries and consumer credit rating; </li>
                <li> to improve and develop our services, including performing research and customer satisfaction surveys; and</li>
                <li> for direct marketing purposes (such as newsletters or email alerts), including updating you about changes to our services or providing information about special offers or promotions.</li>
            <p class="lead">
                For direct marketing purposes, your Personal Information will be added to our database. The database may be used for ongoing marketing, promotional, and/or educational purposes.
                The type of marketing and educational activities that we undertake includes forwarding material to you so that you are kept updated in relation to our services and various issues. 
                Our communications may be sent in various forms such as mail, SMS, fax, in-app notifications, website notifications, and email. You consent to us sending you marketing communications. 
                If at any time you do not wish to continue receiving marketing communications, we provide an “opt-out” procedure in each communication to you or you can opt-out by contacting us directly. 
            </p>
        <br />
        <h4>Disclosure of Personal Information</h4>
        <p class="lead">
            We may disclose your Personal Information to third parties including:
        </p>
            <li>our service providers who assist us to provide the services including (without limitation), mailing houses, call center operators, data processing, market research firms, consultants, insurance providers, accident management, roadside assistance providers, or for personal information verification;</li>
            <li>finance providers, including banks, debit, and credit card providers;</li>
            <li>credit reporting, fraud checking agencies, and debt collection agencies </li>
            <li>government authorities, councils, regulatory and licensing bodies (including relevant road traffic authorities), and law enforcement bodies (where required) </li>
            <li>third parties for processing and handling traffic-related infringements, toll roads, and car park matters;</li>
            <li>if you are an additional driver, accessing the vehicles under a corporate account, or accessing the vehicles under a membership deal provided to you via your employer, to the account holder company or entity; and</li>
            <li>third parties in the event we sell any or all our business and/or our assets.</li>
            <li>Vehicle Collection/Repossession agencies if you breach the terms of our membership agreement </li>
        <p class="lead">
            You consent to us disclosing your Personal Information to our overseas service providers, who may be located in the United States, India, Philippines, or other countries and which may not meet the standard set by clause 8.1 of the Australian Privacy Principles.
        </p>
        <h4>Accessing, Updating, and Correcting your Personal Information</h4>
        <p class="lead">
            You may request us in writing to provide you with details of the Personal Information we hold about you. We will endeavor to process your request as soon as practicable. 
            If we deny your request, we will provide reasons in writing for our decision. To complain about or contest our decision, please contact our Privacy Officer.

            Please ensure you update any personal information you have provided us as soon as reasonably practicable to ensure we have up-to-date records.

            If you wish to amend information that is out of date or incorrect, or if you wish for your Personal Information to be removed from our database, please contact our Privacy Officer (see contact details below).
        </p>
        <h4>Changes to this Privacy Policy</h4>
        <p class="lead">
            We may, from time to time, review, amend and update this Privacy Policy. When this occurs, we will post details of this update on the website. We encourage you to periodically review this Privacy Policy so you are aware of our latest practices with respect to Personal Information.

            Hard copies of this Privacy Policy are available upon request.
        </p>
        <h4>Contact Information</h4>
        <p class="lead">
            If you wish to exercise any of your rights under this Privacy Policy, have any questions, comments, or complaints regarding our practices, or if you are of the view that we have not adhered to this Privacy Policy, you may write to our Privacy Officer by emailing us at privacy@DriveHub.com.au or contacting us through our Contact Us page.
        </p>
    </div>
</div>

@* <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Privacy statement</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-datacentre.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Personal information</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-information.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>How we collect your personal information</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-regulations.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
        <div class="col-xs-12 col-md-6 pb-3">
            <h2>Ease your mind</h2>
            <img class="img-fluid pb-3" src="https://drivehubstorage.blob.core.windows.net/website/showcase-happy.jpg" style="max-width:contain" />
            Lorem ipsum dolor sit amet. Quo praesentium dignissimos rem totam dolorem sed iusto exercitationem sed nemo vero a molestias neque est enim voluptatem.
        </div>
    </div>
</div>
 *@