@model DriveHubModel.Booking
@using DriveHubModel
@{
    ViewData["Title"] = "Vehicle Pick up";
}

<style>

</style>

<div class="pickup-section">
    <h1 class="text-center text-dark fw-normal">@ViewData["Title"]</h1>
    <p class="text-center">You have picked up @Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model.</p>
    <p class="text-center">TODO: blah blah blah you're picking up your car.</p>

    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{@Model.Vehicle.VehicleId}.jpg">

    <div class="text-center p-4">
        <a asp-controller="Bookings" asp-action="Current" class="btn btn-success mb-4 fw-bold text-white fs-4">
            Booking Details
        </a>
    </div>
</div>
@section Scripts {

}
