/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Styling for the Drive part */
.navbar-brand .drive-text {
  font-size: 2.5rem; /* Font size for "Drive" */
  font-weight: bold; /* Bold for emphasis */
  color: #00A8E8; /* Custom color for "Drive" */
  font-family: "Protest Guerrilla", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left: 1rem;
}

/* Styling for the Hub part */
.navbar-brand .hub-text {
  font-size: 2.5rem; /* Font size for "Hub" */
  font-weight: bold;
  color: #ffb300; /* Custom color for "Hub" */
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left: -0.2rem;
}

/* Hover effects */
.navbar-brand .drive-text:hover,
.navbar-brand .hub-text:hover {
  color: #1470b5;
}

/* Style for the nav links */
.navbar-nav .nav-item {
  font-size: 1.1rem;
  font-weight: 500; 
  padding: 0.75rem; /* Padding around the links */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition */
  margin: 20px;
}


/* Add smooth hover effect to list item */
.navbar-nav .nav-item:hover {
  background-color: #00A8E8;
  border-radius: 5px; /* Optional rounded corners for the hover effect */
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Media query for devices with max width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    font-size: 1rem; 
    margin: 10px; 
    padding: 0.5rem;
  }

  /* Add hover effect for smaller devices */
  .navbar-nav .nav-item:hover {
    background-color: #00A8E8; 
    background-color: transparent; 
  }
}

/* Media query for very small devices (max-width: 576px, such as small phones) */
@media (max-width: 576px) {
  .navbar-nav .nav-item {
    font-size: 0.9rem; 
    margin: 5px; 
    padding: 0.5rem;
  }
  .navbar-nav .nav-item:hover {
    background-color: #00A8E8;
    background-color: transparent;
  }
}

/* Mobile toggle button */
.navbar-toggler {
  border:#00A8E8;
}

/* Navbar button colors */
.btn-primary {
  background-color: #00A8E8;
  border-color: #00A8E8;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1470b5;
  border-color: #1470b5;
}
